* html * {
        zoom: 100%; 
/* triggers IE6 "haslayout" - google 'IE6 haslayout' for details*/
}

* {
        margin: 0px;
/* sets all margins to none. */
}

body {
        text-align: center;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10pt;
        color: #000066;
        background: url(/site_images/bg-main.gif) repeat-y;
}

p, h3, h4 {
        margin-top: 10px;
        margin-bottom: 10px;
}

ul, ol, dl, blockquote, cite {
        margin-left: 20px;
}

a {
        font-weight: bold;
        text-decoration: none;
        color: #666666;
}

a:hover {
        text-decoration: underline;
        color: red;
}

img {
        border: 0px;
}

#main_wrapper {
        /*margin-left:auto;  /* centers layout in browser */
        /*margin-right:auto; /* centers layout in browser */
        text-align:left; /* resets the centering hack for IE6 on the body tag */
        height: 100%;
        min-width: 752px;
}

#logo_top {
        height: 75px;
        background: none;
}

#logo_top_inner {

}

#cust_image {
        float: left;
        background: repeat top left #FFFFFF;
        z-index: 5;
        min-width: 185px;
        height: 100%; /* needed for white background of top left corner */
}

#cust_top {
        float: left;
        padding: 0.5em 0.5em 0.5em 1em;
        padding-bottom: 0px;
}

#login_bar {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 18px;
        min-width: 400px;
        background: #000000 repeat;
}

#login_details {
        position: absolute;
        top: 0px;
        left: 25px;
        height: 18px;
        display: block;
        color: #FFFFFF;
        font-size: 9pt;
        overflow: hidden;
        z-index: 5;
}

#login_details a {
        color: #FFFFFF;
        font-size: 9pt;
        font-weight: bold;
}


#nav_topbar {
        /*border: 1px solid #000000;*/
        height: 29px;
        background: url(/site_images/bg-sitebar2.gif) repeat-x;
        clear: both;
}

#nav_topbar a {
        color: #FFFFFF;
}
#nav_topbar_inner { 
        padding-left: 1em; /* creates space between the box and the content */
        padding-top: 0.5em;
        padding-right: 1em;
        color: #FFFFFF;
        font-size: 10pt;
}

#nav_topbar_links {
        float: left;
}

#nav_topbar_breadcrumb {
        float: right;
}

#nav_left {
        float: left;
        width: 185px;
        text-align: center;
}

#nav_left_inner {
        padding: 0px;
}

#nav_left_inner p {
        margin-left: 1em;
}

form {
        text-align: left;
}

#module_icon img {
        max-width: 64px;
        max-height: 64px;
}

#navMenu {
        margin: 0px;
        padding: 0px;
        width: 180px;
} 

#navMenu ul {
        list-style-type: none; /* get rid of the bullets */ 
        margin: 0px;         /* no margin */
        padding: 0px;
}

#navMenu ul li{
        display: block;
}

#navMenu ul li.top {
        display: block;
        background: url(/site_images/mt-top-s.png) no-repeat bottom;
        height: 5px;
}

#navMenu ul li.bottom {
        display: block;
        background: url(/site_images/mt-bottom-s.png) no-repeat top;
        height: 16px;
}

#navMenu ul li.nomenu {
        display: block;
        color: #666666;
        background: url(/site_images/mt-body-s.png) repeat-y left;
}

#navMenu ul li a { 
        display: block;
        color: #666666;
        background: url(/site_images/mt-body-s.png) repeat-y left;
        padding: 0.5em 0em 0.5em 0em;
        border-top: 1px solid #CCCCCC;
}

#navMenu ul li a.noline {
        border: 0px;
}

div#navMenu ul li a:hover {
        color: red;
}

#site_content {
        margin-left: 185px;
}

#nav_content {
        height: 61px;
        background-image: url(/site_images/bg-pagebar.gif);
        background-repeat: repeat-x;
}

#nav_content_inner {
        padding: 0.5em 0.5em 0.5em 0.5em;
}

.content_menu_item {
        text-align: center;
        float: left;
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-weight: normal;
        font-size: 12pt;
}
.content_menu_item a {
        color: #666666;
        font-weight: bold;
        font-size: 12pt;
}

.content_menu_item a:hover {
        text-decoration: none;
        color: red;
}

#page_content {
        color: #333333;
}

#page_content_inner {
        padding: 1em 1em 1em 1.5em;
}

#login_form {
        background: #CCCCCC;
        width: 100%;
        height: 150px;
}

#login_form_inner {
        text-align: left;
        padding: 0.5em;
}

#logo_top_inner, #nav_topbar_inner, #nav_left_inner, #nav_content_inner, #page_content_inner {
        overflow: hidden; /* clips oversize elements that would otherwise expand divs and break the layout */
}
